.QuestionWrapper {
	height: calc(100% - 3rem - 39px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.Buttons {
	background-image: url(../../Assets/Images/arrows-blue-bg.png);
	padding: 2rem 0;
	width: 100%;
	display: grid;
	flex-wrap: wrap;
}

.Buttons > button {
	margin: 1rem 20%;
}

.NavButtons {
	display: flex;
	justify-content: space-around;
}

.NavButtons > button {
	margin: 1.5rem;
}

.DissabledButtons {
	pointer-events: none;
	background-color: grey;
}

#QuestionHeader {
	background-color: var(--Secundair-color);
	width: 50%;
	text-align: center;
	color: white;
	border-radius: 1rem;
	padding: 1rem 0;
}

@media (min-width: 768px) {
	.Buttons {
		max-width: 1500px;
		grid-template-columns: repeat(5, 1fr);
	}
	.Buttons > button {
		margin: 1rem 1.5rem;
	}
}
