input[type="radio"] {
	display: none;
}

.QuestionWrapper {
	padding-top: 1rem;
	min-height: calc(100% - 3rem - 1rem - 39px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.Options {
	background-image: url(../../Assets/Images/arrows-blue-bg.png);
	padding: 2.5rem 0;
	width: 100%;
	display: grid;
	flex-wrap: wrap;
	background-size: contain;
}

.Options > label {
	margin: 1rem 20%;
	color: white;
	background-color: var(--Main-color);
	border-radius: 5px;
	padding: 0.5rem 1rem;
	transition: 200ms;
	font-size: 1.25em;
	text-align: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Options > label:has(input[type="radio"]:checked) {
	background-color: var(--Secundair-color);
	scale: 1.2;
}

.Options > label:hover {
	background-color: var(--Secundair-color);
}

.NavButtons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 1.5rem;
}

.DissabledButtons {
	pointer-events: none;
	background-color: grey;
}

#progress {
	display: flex;
}

#QuestionHeader {
	background-color: var(--Secundair-color);
	width: 50%;
	text-align: center;
	color: white;
	border-radius: 1rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

.Result {
	display: none;
}

@media (min-width: 768px) {
	.Options {
		max-width: 1500px;
		padding: 2rem 0;
		grid-template-columns: repeat(5, 1fr);
	}
	.Options > label {
		margin: 1rem 1.5rem;
	}
}
